.btnUpload {
	 -fx-background-color :  #4186ce;
     -fx-graphic: url("../images/upload-white.png");
}

.btnSave {
	 -fx-background-color :  #4186ce;
     -fx-graphic: url("../images/save-white.png");
}

.btnCancel {
	 -fx-background-color :   #B74636;
     -fx-graphic: url("../images/cancel-white.png");
}

.text-field {
    -fx-prompt-text-fill: white;
    -fx-text-fill: white;
}
.jfx-text-field {
    -jfx-focus-color: #95eaf5;
    -jfx-unfocus-color: #95eaf5;
}

