.btn {
	-fx-border-color :  #06C49C;
	-fx-border-width : 0px 0px 1px 0px;
}

.btnAdd {
	 -fx-background-color :  #E64A19;
     -fx-graphic: url("../images/add.png");
}

.btnUpdateCSV {
	 -fx-background-color :  #E64A19;
     -fx-graphic: url("../images/update.png");
}

.btnSave {
     -fx-graphic: url("../images/save-white.png");
}

.btnCancel {
	 -fx-background-color :  #E64A19;
     -fx-graphic: url("../images/cancel-white.png");
}